---
layout: base
---

<main>
  <div>
    <h1>{{ page.title }}</h1>

    <div id="buttons">
      <button onclick="showSlideshow()">slideshow</button>
      <button onclick="showMap()">map</button>
    </div>
    <div style="height: 20px"></div>

    <div id="slideshow" style="display: block;">
      {{ content }}
    </div>

    <div id="map" style="display: none;">
      <iframe
        id="mapFrame"
        src="{{ page.map }}"
        width="100%"
        height="480"
        style="border:0;"
        allowfullscreen=""
        <!-- loading="lazy" -->
        ></iframe>
      </div>

  </div>
</main>

<script>
  var slideshow = document.getElementById('slideshow');
  var map = document.getElementById('map');

  function showSlideshow() {
    map.style.display = 'none';
    slideshow.style.display = 'block';
  };

  function showMap() {
    map.style.display = 'block';
    slideshow.style.display = 'none';
  };
</script>

<style>
  main {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  button {
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    background-color: white;
    border: none;
    padding: 6px 0;
  }

  .box {
    width: 100%;
  }


  #buttons {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      text-align: center;
    }
  }

</style>
